<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
</head>

<body>
    <div class="headline">
        <h1>Product Inventory Page</h1>
        <button><a href="/products/new" class="btn btn-secondary">Add New Item</a></button>
    </div>
 <section>
    <div id='one'>
        <table class="table" id='indexPage'>
            <tbody>
                <tr id='element'>
                    <% for(let i = 0; i < allProducts.length; i++) { %>

                    <th id='element'>
                        <a href="/products/<%= i %>">
                            <label><%=  allProducts[i].name%></label>
                            <img src="<%= allProducts[i].img%>" alt="Product Image" width='100' height='100'>
                            <label>Price: <%=  allProducts[i].price%></label>
                        </a>
                    </th>
                   
                 <% } %>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<%= console.log(allProducts)%>
</body>

</html>