<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
</head>

<body>
    <div class="headline">
        <h1>Product Inventory Page</h1>
        <a href="/products/new" class="btn btn-secondary">Add New Item</a>
    </div>
    <div class="container">
        <section>

            <% for(let i = 0; i < products.length; i++) { %>

            <div class="card" style="width: 18rem;">
                <a href="/products/<%= products[i]._id%>">
                <img src="<%= products[i].img%>" class="card-img-top" alt="Product Image" width="150">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><%= products[i].name%></h5>
                    <p>Price: <%= products[i].price%></p>
                </div>
            </div>
            <br>
            <% } %>

        </section>
    </div>
    <%= console.log(products)%>
</body>

</html>